<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <script src="./vue.global.js"></script>

        <div id="app">
            <div v-if="formState === 'input'">
                <table width="300px">
                    <tr>
                        <td><p>{{ fields[fieldIndex] }}: </p></td><td><input v-model="inputData"></td>
                    </tr>
                </table>
                <button @click="nextField" @mouseover="moveButton" :style="escapeMode ? escapeButtonStyle : ''">Переключение</button>
                <button @click="stopRun">Отключить убегание</button>
            </div>
            <div v-if="formState === 'select'">
                <select @change="handleSelect">
                    <option>cкрыть</option>
                    <option>отобразить</option>
                </select>
            </div>
            <div v-if="formState === 'table'">
                <table>
                    <tr>
                        <td>Логин</td>
                        <td>{{ formData[0] }}</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>{{ formData[1] }}</td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td>{{ formData[2] }}</td>
                    </tr>
                    <tr>
                        <td>Возраст</td>
                        <td>{{ formData[3] }}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>{{ formData[4] }}</td>
                    </tr>
                </table>
            </div>
        </div>
        
        <script>
            const {createApp, ref, onMounted, onUnmounted} = Vue 

            createApp({
                setup() {
                    formState = ref("input")
                    fields = ["Логин", "Имя", "Фамилия", "Возраст", "Электронная почта"]
                    const fieldIndex = ref(0)
                    escapeMode = true

                    const escapeButtonStyle = ref({
                        position: 'absolute',
                        left: '0px',
                        top: '0px'
                    });

                    formData = ref(['', '', '', '', ''])
                    inputData = ref('')

                    function stopRun() {
                        escapeMode=false
                        escapeButtonStyle.value = {
                            position: 'absolute',
                            left: "0px",
                            top: "0px"
                        };
                    }

                    function nextField() {
                        console.log(fields.length)
                        formData.value[fieldIndex.value] = inputData.value
                        if (fieldIndex.value < fields.length - 1) {
                            fieldIndex.value = fieldIndex.value + 1
                        }
                        else {
                            formState.value="select"
                        }
                    }

                    const moveButton = (event) => {
                        if (!escapeMode) return;
                        
                        const button = event.target;
                        const container = button.parentElement;
                        const containerRect = container.getBoundingClientRect();
                        const buttonRect = button.getBoundingClientRect();
                        
                        // Случайное смещение
                        const maxX = containerRect.width - buttonRect.width - 10;
                        const maxY = containerRect.height - buttonRect.height - 10;
                        
                        const newX = Math.floor(Math.random() * maxX);
                        const newY = Math.floor(Math.random() * maxY);
                        
                        escapeButtonStyle.value = {
                            position: 'absolute',
                            left: `${newX}px`,
                            top: `${newY}px`
                        };
                    };

                    function handleSelect(event) {
                        formState.value = "table"
                    }

                    return {
                        formState,
                        fields, fieldIndex,
                        formData,
                        inputData,
                        escapeMode,
                        escapeButtonStyle,
                        stopRun,
                        moveButton,
                        nextField,
                        handleSelect
                    }
                }
            }).mount('#app')
        </script>
    </body>
</html>