<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <script src="./vue.global.js"></script>

        <div id="app">
            <svg :width="width" :height="height" xmlns="http://www.w3.org/2000/svg">
                <rect width="100%" height="100%" fill="white" stroke="black"/>
            </svg>
            <br>
            <input v-model="width">
            <input v-model="height">
        </div>
        
        <script>
            const {createApp, ref, watch} = Vue 

            createApp({
                setup() {
                    width = ref(160)
                    height = ref(90)

                    watch(width, () => {
                        console.log("width changed")
                        if (Math.abs(height.value * 16 - width.value * 9) >= 0.1) {
                            height.value = (width.value / 16) * 9
                        }
                    })

                    watch(height, () => {
                        console.log("height changed")
                        if (Math.abs(height.value * 16 - width.value * 9) >= 0.1) {
                            width.value = (height.value / 9) * 16
                        }
                    })

                    return {
                        width,
                        height
                    }
                }
            }).mount('#app')
        </script>
    </body>
</html>